# BASIC STATISTICS-2

In [ ]:
# Problem Statement : Hospital Patient Data Analysis
#Context:
#A hospital maintains patient records including admission details, department, diagnosis, doctor, and bill amount. 
#You have two datasets: one with patient info and another with billing details. 
#Some patients have blank bill amounts, and there are multiple rows for the same patient due to follow-ups.

In [43]:
#Tasks
import pandas as pd

In [44]:
#1. Load the patient dataset and show summary with info()
patient_df = pd.read_csv("C:/Users/Harshitha/OneDrive/Documents/Datascience_assignment-4/Patient_Data.csv")
billing_df = pd.read_csv("C:/Users/Harshitha/OneDrive/Documents/Datascience_assignment-4/Billing_Data.csv")
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [45]:
#2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].
patient_df = patient_df[['PatientID', 'Department', 'Doctor', 'BillAmount']]

In [46]:
#3. Drop administrative columns like ['ReceptionistID', 'CheckInTime']
patient_df = patient_df.drop(columns=['ReceptionistID', 'CheckInTime'], errors='ignore')

In [47]:
#4. Use groupby to find total bill amount per department
dept_bill = patient_df.groupby('Department')['BillAmount'].sum()
print(dept_bill)

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [48]:
#5. Remove duplicate patient records based on PatientID
patient_df = patient_df.drop_duplicates(subset='PatientID')

In [49]:
#6. Fill missing BillAmount values with the mean bill amount
mean_bill = patient_df['BillAmount'].mean()
patient_df['BillAmount'].fillna(mean_bill, inplace=True)

In [50]:
#7. Merge the billing dataset with patient dataset on PatientID
merged_df = pd.merge(patient_df, billing_df, on='PatientID', how='inner')

In [51]:
#8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).
new_patients = pd.DataFrame({
    'PatientID': [201, 202],
    'Department': ['Cardiology', 'Neurology'],
    'Doctor': ['Dr. Rao', 'Dr. Kumar'],
    'BillAmount': [6500, 7200]
})

merged_df = pd.concat([merged_df, new_patients], axis=0, ignore_index=True)

In [52]:
#9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).
new_billing_cols = pd.DataFrame({
    'InsuranceCovered': ['Yes'] * len(merged_df),
    'FinalAmount': merged_df['BillAmount'] * 0.8
})

merged_df = pd.concat([merged_df, new_billing_cols], axis=1)

In [53]:
merged_df.head()

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.000000,2000.0,3000.0,Yes,4000.000000
1,102,Neurology,Dr. John,6233.333333,1500.0,3500.0,Yes,4986.666667
2,103,Orthopedics,Dr. Lee,7500.000000,2500.0,5000.0,Yes,6000.000000
3,104,Cardiology,Dr. Smith,6200.000000,3000.0,3200.0,Yes,4960.000000
4,105,Dermatology,Dr. Rose,6233.333333,1000.0,4000.0,Yes,4986.666667